AUTH_SECRET=replace-with-a-long-random-secret
MONGODB_URI_LOCAL=mongodb://127.0.0.1:27017/poolad-saghf
MONGODB_URI_PRODUCTION=mongodb+srv://USERNAME:PASSWORD@HOST/poolad-saghf
NEXTAUTH_URL="http://localhost:3000"
